<div class="bg">
<button type="submit"  class="btn btn-danger" [routerLink]="['/editprofile']">EDIT PROFILE</button>
<h1 class="text-center" style="color:blueviolet">WELCOME TO CAR POOLING</h1>

<!--<div class="container my-3 bg-light">-->
  <div class="col-md-12 text-center">
        <table class="table">
            <thead>
              <tr><th scope="col"><button type="submit"  class="btn btn-success" [routerLink]="['/driver']">DRIVER</button></th></tr>
               <tr><th scope="col"><button type="submit"  class="btn btn-success" [routerLink]="['/passenger']">PASSENGER</button></th>
                
              </tr>
            </thead>
            </table>


        

        
  
        
   
   
</div>
</div>