<div class="bg">
   <button type="submit"  class="btn btn-info" [routerLink]="['/addacar']">Add Car Details</button>
    <button type="submit"  class="btn btn-info" [routerLink]="['/updateacar']">Update Car Details</button>
    <h1 class="text-center" style="color:blueviolet">SELECT YOUR TRIP..!</h1>
    
  
      <div class="col-md-12 text-center">
            <table class="table">
                <thead>
                  <tr><th scope="col"><button type="submit"  class="btn btn-success" [routerLink]="['/createregulartrip']">Create a Regular Trip</button></th></tr>
                   <tr><th scope="col"><button type="submit"  class="btn btn-success" [routerLink]="['/createfrequenttrip']">Create a Frequent Trip</button></th>
                    
                  </tr>
                </thead>
                </table>

                
                   
    
    
            
    
            
      
            
       
       
    </div>
    </div>
