
    
<div class="about-section">
<h1>About Us </h1>
<p>Carpooling is the sharing of car journeys so that more than one person travels in a car, 
    and prevents the need for others to have to drive to a location themselves.
    By having more people using one vehicle, carpooling reduces each persons travel
    costs such as: fuel costs, tolls, and the stress of driving. 
    Carpooling is also a more environmentally friendly and sustainable way to travel as sharing journeys reduces air pollution, 
    carbon emissions, traffic congestion on the roads, and the need for parking spaces. 
    Authorities often encourage carpooling, especially during periods of high pollution or high fuel prices. 
    Car sharing is a good way to use up the full seating capacity of a car, 
    which would otherwise remain unused if it were just the driver using the car.
    Carpooling has become a practical, cheap and stress-free way to move around. 
    The application is designed to be scalable, extensible, highly available and with a good performance</p>
<p>Purpose of this project is to develop an application that tries to overcome the disadvantages 
    of the other available applications. The application is to be generic, which means that it may work for 
    any carpooler in any country in the world. Also, it is socially enabled by its integration to Facebook and 
    possibly to other social media. KwiGo, which is the name chosen for this application, is also a real-time 
    application: any person taking part of a trip can check-in the meeting point to let the other persons now 
    he/she has arrived to the meeting point.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
<div class="column">
<div class="card">
<img src="../../assets/images/Vineeth.jpg" alt="Hegde" style="width:100%">
<div class="container">
<h2>Vineth Hegde</h2>
<p class="title">CEO & Founder</p>
<p>Some text that describes me lorem ipsum ipsum lorem.</p>
<p>jane@example.com</p>
<p><button class="button">Contact</button></p>
</div>
</div>
</div>

<div class="column">
<div class="card">
<img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
<div class="container">
<h2>Mike Ross</h2>
<p class="title">Art Director</p>
<p>Some text that describes me lorem ipsum ipsum lorem.</p>
<p>mike@example.com</p>
<p><button class="button">Contact</button></p>
</div>
</div>
</div>
<div class="column">
    <div class="card">
    <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
    <div class="container">
    <h2>Mike Ross</h2>
    <p class="title">Art Director</p>
    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
    <p>mike@example.com</p>
    <p><button class="button">Contact</button></p>
    </div>
    </div>
    </div>
    <div class="column">
        <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
        </div>
        </div>
        </div>

<div class="column">
<div class="card">
<img src="/w3images/team3.jpg" alt="John" style="width:100%">
<div class="container">
<h2>John Doe</h2>
<p class="title">Designer</p>
<p>Some text that describes me lorem ipsum ipsum lorem.</p>
<p>john@example.com</p>
<p><button class="button">Contact</button></p>
</div>
</div>
</div>
</div>

